body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registration {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#registration h1 {
    margin-bottom: 20px;
    color: #28a745;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 2px;
}
input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#hidden-details{
    display: none;
}
#hidden-details .registration-flex {
    display: flex;
    gap: 100px;
    align-items: center;
}
.show-detail {
    background-color: #e9ecef;
    padding: 3% 20px;
    border-radius: 5px;
    width: 300px;
}
.show-detail h3{
    color: #28a745;
    text-transform: capitalize;
    margin-bottom: 2%;
}
.show-detail p{
    line-height: 1.5;
}
.show-detail:hover{
    background: #dfe2e6;
    transform: translateY(5px);
    transition: 0.5s ease-in-out;
}